<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs', { page: '404 Error'}) %>
    <body>
  
  
          <%- include('./partials/nav.ejs') %>
  <h1>404 Error</h1>
</body>
</html>